#Procesar{

    width: 140px;
    height:70px;
    font-size: 28px;
    }
#a{
    width: 40px;
    height:50px;
    font-size: 20px;
}
#b{
    width: 40px;
    height:50px;
    font-size: 20px;
}
#c{
    width: 40px;
    height:50px;
    font-size: 20px;
}
#d{
    width: 40px;
    height:50px;
    font-size: 20px;
}
#e{
    width: 40px;
    height:50px;
    font-size: 20px;
}
#f{
    width: 40px;
    height:50px;
    font-size: 20px;
}
#g{
    width: 40px;
    height:50px;
    font-size: 20px;
}
#h{
    width: 40px;
    height:50px;
    font-size: 20px;
}
#I{
    width: 40px;
    height:50px;
    font-size: 20px;
}


p{

    display: inline;
}
